a {
  text-decoration: none;
}

.msg {
  margin: 0;
}

.msg-wrap .thread-title {
  font-size: 22px;
  font-weight: 400;
  color: #222222;
  padding: 0 0 0 10px;
}

.msg-date {
  background: none;
  text-align: center;
  color: #aaa;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}
